.posts{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
  margin: 1%;
  

  }

  *{
     background-color: black;
     color: whitesmoke;
  }

  .post{
    border: 2px solid grey;
    padding: 1rem;
    border-radius: 1rem;
  }

  img{
    width: 100%;
  }

  nav{
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    width: 100%;
  }
  .navBar{
    margin-left: 1rem;
  }

  .song-detail{
    width: 20%;
    padding: 2rem;
  }